<header>
    <div class="alert alert-danger fs-5 pb-1 pt-1" role="alert">
      <a routerLink="/" class="fs-4 px-5 fw-bold link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Store Mine !</a>
          <marquee>Hello Ladies   <i class="bi bi-exclamation-lg"></i><i class="bi bi-suit-heart"></i><i class="bi bi-exclamation-lg"></i>
            Welcome To <strong class="text-danger fs-3 fst-italic"> AS </strong> Ladies Store 
          </marquee>    
    </div>
  </header>