<section>
    <div class="container bg-warning mt-5 border-3 rounded-3 w-50 mb-5">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-4 mx-auto">
                <i class="bi bi-envelope-arrow-down fs-1 mt-2 mb-5"></i>
                    <p class="text-center fw-bold">We are glad that you share your thoughts with us <i class="bi bi-emoji-wink fs-3 mt-2 mb-4"></i></p>
                    <p class="text-center fw-bold">Please , Click the "Send Email"</p>
                        <a class="py-3 fw-bold" href="mailto:seyfi.arezou@yahoo.comm?subject= This is subject & cc = qwer@yahyo.com">Send Email</a>
            </div>
        </div>
    </div>
</section>