.slider-container {
    height: 75vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 25.5rem;
    margin-bottom: 2rem;  
}

img {
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
}



